<div class="container-fluid" id="dash-top-nav-container">
  <!-- nav for medium and larger display -->
  <div class="row background-img align-items-center" id="dash-top-nav">  <!-- header row -->
    <div class="col pt-2 pb-2">
        <h2><a class="brand" href="#">{{ page.title_short }}</a></h2>
        <h6><a class="brand brand-small" href="#">Transportation Data and Performance Hub</a></h6>
    </div>
    <div class="col-2 mr-4">
      <div class="row justify-content-end">
        <button class="btn nav-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          
           <h4><i class="fa fa-bars"></i></h4>

        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col nav-menu collapse text-left" id="collapseExample">
      <nav class="nav flex-column">
        <a class="nav-link" href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a>
        <a class="nav-link" href="{{ site.baseurl }}/signals-on-flash/"><i class="fa fa-exclamation-triangle"></i> Signals on Flash</a>
        <a class="nav-link" href="{{ site.baseurl }}/signal-projects/"><i class="fa fa-wrench"></i> Signal Projects</a>
        <a class="nav-link" href="{{ site.baseurl }}/signal-timing/"><i class="fa fa-clock-o"></i> Signal Timing</a>
        <a class="nav-link" href="{{ site.baseurl }}/signal-requests/"><i class="fa fa-inbox"></i> Signal Requests</a>
        <a class="nav-link" href="{{ site.baseurl }}/device-status"/><i class="fa fa-heartbeat"></i> Device Status</a>
        <a class="nav-link" href="{{ site.baseurl }}/ops-overview"/><i class="fa fa-dashboard"></i> Operations Overview </a>
      </nav>
    </div>
  </div>
</div>

