<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="{{site.baseurl}}/"><i  class="fa fa-home"></i></a></li>
          <li role="presentation"><a href="{{site.baseurl}}/intersection-status/">Intersection Status [BETA]</a></li>
          <li role="presentation"><a href="{{site.baseurl}}/signal-retiming/">Signal Re-Timing Progam [BETA]</a></li>
        </ul>
    </div>
</nav>