<div class="container-fluid header">
  <div class="d-flex flex-wrap">
    <div class="p-2">
      <h1> Data and Performance Hub </h1>
      <p>City of Austin Transportation Department</p>
    </div>
    <div class="ml-auto mt-auto p-2 nav">
        <nav class="nav nav-pills d-flex flex-column flex-sm-row align-items-baseline">
          <li class="nav-item dropdown">
            <a class="flex-sm-fill text-sm-center nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ page.short-name }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
          <a class="flex-sm-fill text-sm-center nav-link" href="#">Maps</a>
          <a class="flex-sm-fill text-sm-center nav-link" href="#">Open Data</a>
          <a class="flex-sm-fill text-sm-center nav-link" href="#">Home</a>
        </nav>
    </div>
  </div>
</div>
