<nav class="navbar navbar-default">
  <div class="container-fluid opi">
    <row>
      <div class="col-sm-6">
        <h2> {{ page.short-name }}</h2>
        <p>City of Austin Transportation Department</p>
      </div>
      <div class="col-sm-6"></div>
    </row>

    <row>
      <div class="col-sm-12 nav">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav nav-tabs navbar-right">

            <li role="presentation"><a href="{{ site.baseurl }}/"><i  class="fa fa-th-large"></i></a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </row>

</nav>
