<div class="container-fluid" id="dash-top-nav-container">
  <!-- nav for medium and larger display -->
  <div class="row background-img align-items-center" id="dash-top-nav">  <!-- header row -->
    <div class="col pt-2 pb-2">
        <h2><a class="brand" href="#">{{ page.title_short }}</a></h2>
        <h6><a class="brand brand-small" href="#">Transportation Data and Performance Hub</a></h6>
    </div>
    <div class="col-2 mr-4">
      <div class="row justify-content-end">
        <button class="btn nav-btn" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseExample">
          
           <h4><i class="fa fa-bars"></i></h4>

        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col nav-menu collapse text-left" id="collapseMenu">
      <nav class="flex-column">
        <a class="nav-link" href="{{ site.baseurl }}/data-tracker/"><i class="fa fa-home"></i> Data Tracker Home</a>
        <a class="nav-link" href="{{ site.baseurl }}/data-tracker/#home/tmc-issues/"><i class="fa fa-phone"></i> TMC Issues </a>
        <a class="nav-link" href="{{ site.baseurl }}/data-tracker/#signals/"><i class="fa fa-car"></i> Signals</a>
        <a class="nav-link" href="{{ site.baseurl }}/data-tracker/#cameras/"><i class="fa fa-video-camera"></i> Cameras</a>
        <a class="nav-link" href="{{ site.baseurl }}/data-tracker/#home/locations/"><i class="fa fa-map-marker"></i>  Locations </a>
        <a class="nav-link" href="{{ site.baseurl }}/"><i class="fa fa-dashboard"></i>  Data and Performance Hub </a>
        <nav>
    </div>
  </div>
</div>