<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 custom-modal disclaimer pre-scrollable" id="disclaimer">
      <div></div>
      <p><img style="vertical-align: middle;" class="disclaimer-img" src="{{site.baseurl}}/components/images/coa_seal_transparent_white.png">
      </p>
      <div class="row modal-wrapper">
        <div class="col-md-12">
          <h4 class="modal-title" >Thank you for visiting the {{ page.short-name }} Dashboard</h4>
          <p id="disclaimer-text"> 
          </p>
        </div>
          <h4><button id="close-modal" type="button" class="btn">OK</button></h4>
      </div>      
    </div>
  </div>
</div> 
