<div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="disclaimer">
        <div></div>
          <p><img style="vertical-align: middle;" class="footer-img" src="{{site.baseurl}}/components/images/coa_seal_transparent_white.png"></p>
              <div class="row disclaimer-wrapper">
                <div class="col-md-12">
                  <h4>Thanks for visiting!</h4>
                  <p> 
                    This product has been produced by Austin Transportation
                    Department for the sole purpose of geographic reference.
                    No warranty is made by the City of Austin regarding specific accuracy or completeness.

                    This product is for informational purposes and
                    may not have been prepared for or be suitable
                    for legal, engineering, or surveying purposes. 
                    It does not represent an on-the-ground survey and
                    represents only the approximate relative location of traffic signals.
                  </p>
                </div>
                  <h4><button id="close-modal" type="button" class="btn btn-warning">OK</button></h4>
              </div>
          
        </div>
      </div>
    </div> 
</div>