<div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="disclaimer">
          <h4>Thanks for visiting!</h4>
          <p> 
                This is some important disclaimer text that 
                you should read and take very seriously.

                This messag will only display once every 90 days
                you visit the site.
          </p>
          <p><button id="close-modal" type="button" class="btn btn-warning">OK</button></p>
      </div>
    </div> 
</div>