

<footer class="footer">
          <div class="container-fluid">
            <div class = "row footer-padding"></div>
            <div class = "row">
                <div class="col-sm-1">
                    <img class="footer-img" src="{{site.baseurl}}/components/images/coa_seal_transparent_white.png">    
                </div>




                <div class="col-sm-4">
                    
                    <div class = "row">
                        
                        <div class="col-sm-12">
                            <h4 class="footer-heading">
                                City of Austin Transportation Department
                            </h4>
                        </div>
                    </div>

                    <div class = "row">
                        <div class="col-sm-12 footer-links">
                            <a href="">Home</a>
                            <a href="">About</a>
                            <a href="">Disclaimer</a>
                        </div>
                    </div>

                </div>  

                <div class="col-sm-7"></div>



            </div>
            
        </div>
  </div>
</footer>