

<footer class="footer">
        <div class="container footer-container">
          <div class="container">
            <div class="col-sm-3"></div>
            <div class="col-sm-8">
                <h4 class="footer-heading"><img src="{{site.baseurl}}/components/images/coa_seal_transparent_white.png" alt="City of Austin Badge" height=40> City of Austin Transportation Department</h4>

            </div>
            <div class="col-sm-2"></div>
        </div>
        </div>
    <!-- <p><img src="{{site.baseurl}}/components/images/austin_stamp_lg.jpeg" alt="city_badge" height=40> City of Austin Transportation Department</p> -->
  </div>
</footer>