<footer class="footer">
    <!-- SEE: http://v4-alpha.getbootstrap.com/examples/sticky-footer/ -->
  <div class="container-fluid">
    <div class="row justify-content-center footer-background-color-fix p-4 mt-4">

      <div class="col-md-3"></div>

      <div class="col"> <!-- center div -->

        <div class="row no-gutters"> <!-- center content only row -->

          <div class="col-xs-2 align-self-center">  <!-- image column -->
            <div class="row">
              <div class="col text-right">
                <img style="height:90px; padding: 10px 10px 10px 0px;" src="/components/images/coa_seal_transparent_white.png">
              </div>
            </div>
          </div>

          <div class="col-xs-10 align-self-center"> <!-- title and link column -->
            <div class="row no-gutters">
              <div class="col no-gutters">
                <h5>City of Austin Transportation Department</h5>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col nav no-gutters ">
                <div class="col">
                  <a class="nav-footer" href="https://data.austintexas.gov/browse?Additional-Information_Department=Austin+Transportation">Data</a>
                </div>
                <div class="col">
                  <a class="nav-footer" href='http://github.com/cityofaustin/transportation-datahub'>Code</a>
                </div>
                <div class="col">
                  <a class="nav-footer" href="/about">About</a>
                </div>
                <div class="col">
                  <a class="nav-footer" href="mailto:transportation.data@austintexas.gov">Contact</a>
                </div>
                <div class="col">
                  <a class="nav-footer" href="https://austintexas.gov/page/city-austin-open-data-terms-use">Disclaimer</a>
                </div>
              </div>
            </div>
          </div> <!-- end center content row -->
        </div> <!-- end center div -->
      </div> <!-- end row -->
  </div>
</footer>
