<div class="row mt-1" id="search">
  <div class="col input-group">
    <div class="input-group-prepend">
      <span class="input-group-text text-dts-4" id="basic-addon1"
        ><i class="fa fa-search"></i
      ></span>
    </div>
    <input
      id="search_input"
      type="text"
      class="form-control input"
      placeholder="Search by street name..."
      autocomplete="off"
    />
    <div class="input-group-append d-none" id="search-cancel" role="button">
      <span class="input-group-text bg-white" id="basic-addon1"
        ><i class="fa fa-close"></i
      ></span>
    </div>
  </div>
</div>
