<div class="col-sm-3 col-md-2 sidebar"><!--start of sidebar-->
  
  <div class="panel-group" id="accordion" role="tablist">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1"><span class="glyphicon-plus"></span> about the initiative</a></h4>
      </div><!--panel-heading-->
      <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1"> 
        <ul class="list-group nav nav-sidebar"> 
        <li class="list-group-item"><a href="{{site.baseurl}}/about">Background, authority, and governance</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/definitions">Definitions</a></li>
      <li class="list-group-item"><a href="{{site.baseurl}}/projects">Past and current projects</a></li>
      <li class="list-group-item"><a href="{{site.baseurl}}/progress">Progress tracking</a></li>
        </ul> 
        </div><!--panel-collapse-->
  </div><!--panel-->

  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="false" aria-controls="collapseListGroup2"><span class="glyphicon-plus"></span> Open Data Liaisons</a></h4>
      </div><!--panel-heading-->
      <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2"> 
        <ul class="list-group nav nav-sidebar"> 
        <li class="list-group-item"><a href="{{site.baseurl}}/liaison-responsibilities">Roles and responsibilities</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/current-liaisons">Current liaison roster</a></li>
        </ul> 
        </div><!--panel-collapse-->
  </div><!--panel-->

  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup3" aria-expanded="false" aria-controls="collapseListGroup3"><span class="glyphicon-plus"></span> Developing Open Data</a></h4>
      </div><!--panel-heading-->
      <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3"> 
        <ul class="list-group nav nav-sidebar"> 
        <li class="list-group-item"><a href="{{site.baseurl}}/suggestions">New dataset suggestions</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/plans">Department open data plans</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/strategic-planning">Strategic planning</a></li>
        </ul> 
        </div><!--panel-collapse-->
  </div><!--panel-->

  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup4" aria-expanded="false" aria-controls="collapseListGroup4"><span class="glyphicon-plus"></span> Publishing Open Data</a></h4>
      </div><!--panel-heading-->
      <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4"> 
        <ul class="list-group nav nav-sidebar"> 
        <li class="list-group-item"><a href="{{site.baseurl}}/new-datasets">How to create new datasets</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/licensing">Licensing policy</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/metadata">Metadata standard</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/quality">Data quality standard</a></li>
        </ul> 
        </div><!--panel-collapse-->
  </div><!--panel-->


  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup5" aria-expanded="false" aria-controls="collapseListGroup5"><span class="glyphicon-plus"></span> Using Open Data</a></h4>
      </div><!--panel-heading-->
      <div id="collapseListGroup5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading5"> 
        <ul class="list-group nav nav-sidebar"> 
        <li class="list-group-item"><a href="{{site.baseurl}}/portal-terms-of-use">Portal terms of use</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/attribution">How to attribute data to City of Austin</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/feedback">Sending open data feedback</a></li>
        </ul> 
        </div><!--panel-collapse-->
  </div><!--panel-->

</div><!--panel-group-->

</div><!--end of sidebar-->





























<!-- <div class="sidebar">
 

      <span class="sidebar-nav-item">Open data liaisons</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      
      <span class="sidebar-nav-item">Publishing open data</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/metadata">Metadata standard <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/new-datasets">How to create new datasets <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/publishers">Authorized publishers <div class="badge discovery">?</div></a>


      <a class="sidebar-nav-sub-item" href="{{site.url}}/thanks"><em>Thanks to... </em><div class="badge discovery">?</div></a>


      
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    


     <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
 --> 