<div class="col-sm-3 col-md-2 sidebar"><!--start of sidebar-->
  
  <div class="panel-group" id="accordion" role="tablist">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1"><span class="glyphicon-plus"></span> Roads Are So Great</a></h4>
      </div><!--panel-heading-->
      <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1"> 
        <ul class="list-group nav nav-sidebar"> 
        <li class="list-group-item"><a href="{{site.baseurl}}/about">They are made out of pavement</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/definitions">And sometimes gravel or dirt</a></li>
		<li class="list-group-item"><a href="{{site.baseurl}}/projects">And, rarely, cobblestone</a></li>
        </ul> 
        </div><!--panel-collapse-->
  </div><!--panel-->

  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="false" aria-controls="collapseListGroup2"><span class="glyphicon-plus"></span</a> I Like Bicycles!</h4>
      </div><!--panel-heading-->
      <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2"> 
        <ul class="list-group nav nav-sidebar"> 
        <li class="list-group-item"><a href="{{site.baseurl}}/liaison-responsibilities">Unlike cars, bicycles only have two wheels</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/current-liaisons">And are not typically motorized</a></li>
        </ul> 
        </div><!--panel-collapse-->
  </div><!--panel-->

  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup3" aria-expanded="false" aria-controls="collapseListGroup3"><span class="glyphicon-plus"></span></a> Traffic Signals!</h4>
      </div><!--panel-heading-->
      <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3"> 
        <ul class="list-group nav nav-sidebar"> 
        <li class="list-group-item"><a href="{{site.baseurl}}/suggestions">Green</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/plans">Yellow</a></li>
        <li class="list-group-item"><a href="{{site.baseurl}}/strategic-planning">Red</a></li>
        </ul> 
        </div><!--panel-collapse-->
  </div><!--panel-->

</div><!--panel-group-->

</div><!--end of sidebar-->





























<!-- <div class="sidebar">
 

      <span class="sidebar-nav-item">Open data liaisons</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      
      <span class="sidebar-nav-item">Publishing open data</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/metadata">Metadata standard <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/new-datasets">How to create new datasets <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/publishers">Authorized publishers <div class="badge discovery">?</div></a>


      <a class="sidebar-nav-sub-item" href="{{site.url}}/thanks"><em>Thanks to... </em><div class="badge discovery">?</div></a>


      
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    


     <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
 --> 