<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboards <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{site.baseurl}}/intersection-status">Intersection Status</a></li>
                    </ul>
                </li>
                <li><a href="https://data.austintexas.gov">Open Data</a></li>
                <li><a href="#about">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
