<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">City of Austin Open Data Manual (Under Construction!)</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://data.austintexas.gov">Data Portal</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{site.baseurl}}/">Policies and Guidelines </a></li>
                        <li><a href="{{site.baseurl}}/plans">Dept Plans</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Maybe another thing</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Or one last something</a></li>
                    </ul>
                </li>
                <li><a href="https://github.com/cityofaustin/open-data-suggestions/issues">Suggestions</a></li>
                <li><a href="#about">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
