.calc-header {
    margin: 10px 20px 20px 20px;
  }
  
.calc-label-top {
    margin-top: 10px;
}

.calc-label-output {
    margin-left: 15px;
}

.calc-card {
    border: grey;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
}