body {
  padding-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

.dash-footer {
  min-height: 35px;
  background-color: #333333;
  color: white;
  padding: 5px;
}

.fa-home {
  font-size: 2em;
}

.homepage-button {
    background-color: #333333;
    color: white;
    height: 150px;
    margin: 10px;
    text-align: center;
}

.homepage-button:hover {
  background-color: #7D9852;
}

.button-icon {
  font-size: 5em;
}

.jumbotron {
    background-image: url(../images/NEW_BANNDER_DARK.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 150px;    
}

.jumbotron h2 {
  font-size: 2.5em;
  font-weight: normal;
}

.navbar {
    background-image: url(../images/NEW_BANNDER_DARK_REDUCED.png);
    background-size: cover;
    background-color: #333333;
    border: none;
}

.navbar-header {
  background: #fff;
}

.navbar-header h2 {
  font-weight: bold;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #333;
    background-color: white;
}


.nav-pills > li > a {
  height: 50px;
  border-radius: 0px;
  background-color: white;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #333;
}

