
  html, body, div, input, .btn {
    font-family: 'News Cycle', sans-serif;
  }

  .background-img {
    background-size: cover;
    background-image: url(/components/images/jtron_1600.png);
  }

  .header-coa {
    font-family: sans-serif; /* COA header gets unstylized typeface */
    font-size: .75em;
  }

  .nav-btn {
    color: #fff !important;  
    background-color: rgba(0,0,0,.4);
    /*border: 1px solid rgba(255,255,255,.4);*/
    border-radius: 3px;
    cursor: pointer;
  }

  .nav-btn:hover{
    
    background-color: rgba(0,0,0);
  }

  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.25em;
  }
  
  .nav-link:hover {
    color: #fff;
    background-color: #2f3338;
    text-decoration: none;
  }
  
  .nav-menu {
    background-color: #43484E;
    box-shadow: inset 0 0px 5px 1px rgba(0, 0, 0, .4);
    padding: 0px;
  }
  
  .brand {
    color: #fff;
    text-shadow: 0px 0px 4px rgba(0,0,0,1);

  }

  .brand:hover {
    color: #c4c4c4;
    text-decoration: none;
  }
  
  p.quote-of-the-week {
    margin: 0;
    padding: 0;
  }

  .nav-footer {
    color: #fff;
    padding-left: 0px;
    padding-top: 2px;
  }

  .footer {
    color: #fff;
    background-color: #43484E; 
  }

  .footer-background-color-fix {
    background-color: #43484E;  /* otherwite bottom-most content slips to background #fff on collapse */
  }

  .btn-map-selector {
    background-color: #7f7f7f;
    border-color: #fff;
    cursor: pointer;
  }
  
  .btn-map-selector.active {
    background-color: #0275d8;
    border-color: #fff;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .3);
  }

  .btn-map-selector:hover {
    background-color: #686868;
    border-color: #fff;
  }

  .btn-map-selector.active:hover {
    background-color: #0062b7;
    border-color: #fff;
  }
  
  .btn-group-vertical {
    width: 100%;
  }

  .map-container {
    min-height: 50vh;
  }

  .map {
    height: 100%;
  }

  .table {
    font-size: .8em;
  }
  

  td {
    cursor: pointer;
  }

  .leaflet-popup-content-wrapper {
    /* overwride default leaflet styles */
    color: #fff;
    background: rgba(48, 51, 56, .95);
    border-radius: 3px;
  }

  /* styles below here for landing page */

.homepage-header {
  background-image: url(../components/images/jtron_900.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-color: #333;  
  text-shadow: 0px 0px 5px rgba(0,0,0,1);
}


@media (max-width: 991px) {
    .homepage-header {
        background-image: url(../images/jtron_900.png);
    }
}

@media (min-width: 992px) {
    .homepage-header {
        background-image: url(../images/jtron_1100.png);
        min-height: 200px;
    }
}

@media (min-width:1200px) {
    .homepage-header {
        background-image: url(../images/jtron_1200.png);
    }

}
 
@media (min-width:1300px) {
    .homepage-header {
        background-image: url(../images/jtron_1300.png);
    }
}

@media (min-width:1400px) {
    .homepage-header {
        background-image: url(../images/jtron_1400.png);
    }
}

.homepage-button {
  color: #fff;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  padding: 5px 0px 10px 10px;
}

.homepage-button-row-1 {
  background-color: #326D89;
}

.homepage-button-row-2 {
    background-color: #73264d;
}

.homepage-button-row-3 {
    background-color: #8c8c8c;
}

.homepage-button:hover {
  background-color: #7D9852;
}

.button-icon {
  font-size: 5em;
  padding: 10px;
}

.button-icon-small {
  font-size: 3em;
  padding: 10px;
}

  

/* styling for card-template */
.dash-panel {
    /*background-color: #efeff7;*/
    border-radius: 2px;
    /*border: 5px solid white;*/
    box-shadow: 0px 1px 2px 0px gray;

}

.dash-panel:hover {
    background-color: #f7f7f7;
    /*color: white;*/
    cursor: pointer;
}

.dash-panel-header {
    color: #707070;
}

.dash-panel-footer-text {
    color: #707070;
}

.pie-gray {
  fill: #bfbfbf;
}

.pie-green {
  fill: #009304;
}

.goal-unmet {
  color: #AD0000;
}

.goal-met {
  color: green;
}

.pie-info {
  font-size: 2.5em;
  text-anchor: middle;
}

.pie-info-small {
  text-anchor: middle;
}

.info-metric {
  font-size: 5em;
  text-align: left;
  dominant-baseline: bottom;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

p.about {
    text-align: justify;
}