body {
  padding-top: 50px; /* push content down to avoid nav conflict */
}

.navbar {
    min-height: 25px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/skyline_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: black;
    text-shadow: 2px 2px white;
}

.map {
    height: 300px;
}