html, body, div, .btn {
  font-family: 'News Cycle', sans-serif;
  -webkit-appearance: none; 
}

#dash-top-nav-container {
  padding-bottom: 10px;
}

btn[type=button] {
  -webkit-appearance: none; 
}

.background-img {
  background-size: cover;
  background-image: url(/components/images/jtron_1600.png);
}

.header-coa {
  font-family: sans-serif; /* COA header gets unstylized typeface */
  font-size: .75em;
}

.nav-btn {
  color: #fff !important;  
  background-color: rgba(0,0,0,.4);
  border-radius: 3px;
  cursor: pointer;
}

.nav-btn:hover{
  
  background-color: rgba(0,0,0);
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.25em;
}

.nav-link:hover {
  color: #fff;
  background-color: #2f3338;
  text-decoration: none;
}

.nav-menu {
  background-color: #43484e;
  box-shadow: inset 0 0px 5px 1px rgba(0, 0, 0, .4);
  padding: 0px;
}

.brand {
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0,0,0,1);

}

.brand:hover {
  color: #c4c4c4;
  text-decoration: none;
}

.nav-footer {
  color: #fff;
  padding-left: 0px;
  padding-top: 2px;
}

.footer {
  color: #fff;
  background-color: #43484E; 
}

.footer-background-color-fix {
  background-color: #43484E;  /* otherwite bottom-most content slips to background #fff on collapse */
}

span.col-1, span.co-2,
span.col-3, span.col-4,
span.col-5, span.col-6,
span.col-6, span.col-7,
span.col-8, span.col-9,
span.col-10, span.col-11,
span.col-12, span.col-13,
span.col-14, span.col-15 {
  padding: 0px;
}

.nav-homepage:hover{
  text-decoration: none;
}

