.action-disabled {
  color: #9D9D9D;
}

div.tooltip {   
  position: absolute;           
  text-align: center;                       
  color: white;             
  padding: 6px;             
  font: 12px sans-serif;        
  background: black;   
  border-radius: 4px;           
  border: 0px;      
  pointer-events: none;         
}

.info {
  font-size: 500%;
  font-weight: bold;
  text-align: center;
  dominant-baseline: bottom;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.div-filter {
  cursor: pointer;
}

.infoStat.warning {
    fill: red;
}


div.tooltip {   
  position: absolute;           
  text-align: center;                       
  color: white;             
  padding: 6px;             
  font: 12px sans-serif;        
  background: black;   
  border-radius: 4px;           
  border: 0px; 
}

.filtering{
  background-color: #F1F1F1;
}

/* status styles */
.ok {
    fill: green;
}

.cab_flash {
    fill: blue;
}

.conflict_flash {
    fill: red;
}

.comm_fail {
    fill: yellow;
}

.comm_disabled, .no_comm {
    fill: #333333;
}

.planned {
  fill: #bfbfbf;
}

.done {
  fill: green;
}

.goal-unmet {
  color: #AD0000;
}

.goal-met {
  color: green;
}

.pieText {
  font-size: 50%;
  text-anchor: middle;
}

.pieTextSmall {
  font-size: 20%;
  text-anchor: middle;
}

.axis-left, .axis-bottom {
    font-size: 11px;
    font-family: 'News Cycle';
    font-weight: bold;
}

html,body {
  height: 100%;
}


.map {
    height: 300px;
    min-height: 100%;
}










