.navbar {
  
}

body {
  padding-bottom: 0px;
}

.tooltip{
  height: 0px;
}

.anchor {
  padding-top: 40px;

}

.infoStat {
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    dominant-baseline: bottom;
    fill: black;

}

.info {
  font-size: 140%;
  font-weight: bold;
}

.infoStat.warning {
    fill: red;
}

.map {
    height: 300px;
}

.dash-footer {
  min-height: 35px;
  background-color: #333333;
  color: white;
  padding: 5px;
}

/* status styles */
.ok {
    fill: green;
}

.cab_flash {
    fill: blue;
}

.conflict_flash {
    fill: red;
}

.comm_fail {
    fill: yellow;
}

.comm_disabled, .no_comm {
    fill: #333333;
}

div.tooltip {   
  position: absolute;           
  text-align: center;                       
  color: white;             
  padding: 6px;             
  font: 12px sans-serif;        
  background: black;   
  border-radius: 4px;           
  border: 0px;      
  
  pointer-events: none;         
}