.nav-tabs {
  /*background-color: #43484e;*/
}

.nav-link-modal.active {
  color: #fff !important;
  background-color: #43484e !important;
  border-color: #43484e !important;;
}

.nav-link-modal {
  color: #43484e;
  background-color: #f0f0f0;
}

.nav-link-modal:hover {
  color: #43484e;
  background-color: #e6e6e6;
}

.modal-body {
  /*  match leaflet popup content*/
  color: #fff;
  background: #43484e;
}

.btn-map-selector {
  color: #fff;
  background-color: #7f7f7f;
  border-color: #fff;
  cursor: pointer;
  -webkit-appearance: none; 
}

.btn-map-selector.active {
  background-color: #0275d8;
  border-color: #fff;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .3);
  -webkit-appearance: none; 
}

.btn-map-selector:hover {
  background-color: #686868;
  border-color: #fff;
  -webkit-appearance: none; 
}

.btn-map-selector.active:hover {
  background-color: #0062b7;
  border-color: #fff;
  -webkit-appearance: none; 
}

.map-container {
  min-height: 50vh;
}

.table {
  font-size: .8em;
}

td {
  cursor: pointer;
}

tr {
  height: 40px;
}


.table-icon {
  /*device status icons in device status dash*/
  font-size: 1.5em;
  padding: 5px;
  
  color: white;
  box-shadow: 0px 1px 2px 0px gray;
}

.leaflet-popup-content-wrapper {
  /* overwride default leaflet styles */
  color: #fff;
  background: #43484e;
  border-radius: 3px;
}
/* styles below here for landing page */

p.quote-of-the-week {
  margin: 0;
  padding: 0;
}


/*signal controller state styles*/
.status-badge {
  white-space: pre;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px gray;
}

.status-1 {
  /*scheduled flash*/
  color: #fff;
  background-color: #1B495C;
}

.status-2 {
  /*conflict flash*/
  color: #fff;
  background-color: #8C2025;
}

.status-3 {
  /*comm outage*/
  color: #fff;
  background-color: #F1AC37;
}

.status-construction {
  color: #fff;
  background-color: #ed9f1c;
}

.status-design {
  color: #fff;
  background-color: #1b7756;
}

.status-turned_on {
  color: #fff;
  background-color: #028102;
}

.muted {
  color: #707070;
}

.popover {
/*  match leaflet popup content*/
  color: #fff;
  background: rgba(48, 51, 56, .95);
  border-radius: 3px;
}


.dash-panel {
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px gray;

}

.dash-panel:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.dash-panel-borderless:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.dash-panel-header {
    color: #707070;
}

.dash-panel-footer-text {
    font-size: .8em;
    color: #707070;
}

.panel-title-row {
  background-color: #e5e5e5;
}


.pie-gray {
  fill: #bfbfbf;
}

.pie-green {
  fill: #009304;
}

.goal-unmet {
  color: #AD0000;
}

.goal-met {
  color: green;
}

.pie-info {
  font-size: 2.5em;
  text-anchor: middle;
}

.pie-info-small {
  text-anchor: middle;
}

.info-metric {
  /* dash panel and signal retiming */
  font-size: 5em;
  text-align: left;
  dominant-baseline: bottom;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.info-metric-small {
  /* dash panel and signal retiming */
  font-size: 2.5em;
  text-align: left;
  dominant-baseline: bottom;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

p.about {
    text-align: justify;
}




