#dash-container {
    overflow:hidden;
}

#map {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 1;
}

#left-overlay-container {
    height: 100vh;
    pointer-events: none;
}

#left-overlay {
    pointer-events: auto;
}

.over-map {
    z-index: 2;
}

.map-control-toggle {
    z-index: 3;
    cursor: pointer;
}

.map-control-custom {
    z-index: 3;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px gray;
}   

.leaflet-bar a {
    /*style zoomHome control*/
    color: #fff;
    background-color: #43484E;
}

.leaflet-popup-content-wrapper {
 /*overrwrite dashboard popup styling here*/
}

.btn-map-custom {
    color: #fff;
    background-color: #43484e;
}

.input-control-icon {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 60px;
    color: gray;
    background-color: #fff;
}

.map-card, .menu-card {
    box-shadow: 0px 1px 2px 0px gray;
    border: 0px !important;
}


.input-control-icon:hover {
    color: #43484e;
}

.close-pane {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: gray;
    background-color: #fff;
}

#close-feature-details:hover {
    color: #43484e;
}

.feature-table td {
    border-top: none;
}

table.feature-table.dataTable.no-footer {
    border-bottom: none;
}

#data-table_wrapper {
    background-color: #fff;
}


thead {
    /*hide table head (because it's connected to the search bar)*/
    display: none;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    /*disayble datatabe top and bottom borders*/
    border: none;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0);
}


table.dataTable.feature-table tbody tr {
    background-color: rgba(0, 0, 0, 0);
}

#map-menu-header {
    background-color: #fff;
}

#city-seal {
    height: 90px;
}

.card-text {
    margin-bottom: 0px;
}

.map-card-body {
    padding: 0;
    border: none;
}

#map-accordion > .card {
    border-radius: 0px;
}

.map-card-expander, .map-card-expander a {
    color: #000000;
}

.map-menu-badge {
    height: 95%;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-top: 5px;
    color: #fff;
    border-radius:3px;
    box-shadow: 0px 1px 2px 0px gray;
}

.map-layer-toggle {
    /* styles for rows of map selectorsm*/
    color: #a3a1a1;
    font-size: 1.1em;
    background-color: inherit;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.map-layer-toggle.toggled {
    /* black and bold text when map selector is toggled */
    color: #000000;
    font-weight: bold;
}

.map-layer-toggle:hover {
    /* highlight selectors on hover */
    background-color: #e8e8e8;
}

.map-layer-toggle-icon {
    /* span icon styles */
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background-color: #a3a1a1;
    border-radius:3px;
}

.map-layer-toggle-icon.toggled {
    /* add backround shadow and icon color when icon is toggled */
    color: #fff;
    box-shadow: 0px 1px 2px 0px gray;    
}


