
.homepage-header {
  background-image: url(../components/images/jtron_900.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-color: #333;  
  text-shadow: 0px 0px 5px rgba(0,0,0,1);
}

@media (max-width: 991px) {
    .homepage-header {
        background-image: url(../images/jtron_900.png);
    }
}

@media (min-width: 992px) {
    .homepage-header {
        background-image: url(../images/jtron_1100.png);
        min-height: 200px;
    }
}

@media (min-width:1200px) {
    .homepage-header {
        background-image: url(../images/jtron_1200.png);
    }

}
 
@media (min-width:1300px) {
    .homepage-header {
        background-image: url(../images/jtron_1300.png);
    }
}

@media (min-width:1400px) {
    .homepage-header {
        background-image: url(../images/jtron_1400.png);
    }
}

.homepage-button {
  color: #fff;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  padding: 5px 0px 10px 10px;
  height: 100%;
}

.homepage-button-row-1 {
  background-color: #326D89;
}

.homepage-button-row-2 {
    background-color: #73264d;
}

.homepage-button-row-3 {
    background-color: #8c8c8c;
}

.homepage-button:hover {
  background-color: #7D9852;
}

.button-icon {
  font-size: 5em;
  padding: 10px;
}

.button-icon-small {
  font-size: 3em;
  padding: 10px;
}