.status-error {
  color: #fff;
  background-color: #8C2025;
}

.status-in_progress {
  color: #fff;
  background-color: #1B495C;
}

.status-success {
  color: #fff;
  background-color: #028102;
}

.modal-body {
    background-color: #fff;
    color: black;
}

#modal_table_wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.modal-dialog {
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .modal-dialog {
    max-width: 75%;
  }
}

.modal-lg {
    max-width: 100%;
}