html {
    font-family: sans-serif;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.plot_2 {
    stroke: red;
    stroke-width: 3px;
}

.plot_1 {
    stroke: steelblue;
    stroke-dasharray: 4,4;
}