html {
    font-family: sans-serif;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

#plot_1 {
    stroke: #d95f02;
    stroke-dasharray: 4,4;
    stroke-width: 2px;
}

#plot_2 {
    stroke: #1b9e77;
    stroke-width: 2px;
}

#submit {
    padding: 10px;
    color: #fff;
    background-color: steelblue;
}











