<!DOCTYPE html>
  <html lang="en-us">
  
  {% include head.html %}

  <body>
  
    {% include modal.html %}

    {% include coa-header.html %}
    
    {% include dash-top-nav.html %}
    
    <div class="container-fluid" id="dash-container">
      <div class="row">
        <div class="col">
          <h1> Page Not Found </h1>
          <p>
            Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="{{ site.baseurl }}">Head back home</a> to try finding it again
          </p>
          
        </div>
      </div>
      
    </div>

    {% include footer.html %}

  </body>
</html>
