<!DOCTYPE html>
  <html lang="en-us">

    {% include head.html %}

    <body>

        {% include coa-header.html %}

        {% include dash-top-nav.html %}

      <div id="root-About"></div>



    {% include footer.html %}

    {% include default-scripts.html %}

    {% if page.custom_js %}

      {% for js_file in page.custom_js %}

        <script src='{{ site.baseurl }}/webpackjs/output/{{ js_file }}.js' type="text/javascript"></script>

      {% endfor %}

    {% endif %}


  </body>
</html>
