<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

  	{% include dash-top-nav.html %}
        
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h4>Lamar Northbound: Jan, Feb, Apr 2016</h4>
                <form>
                <select id='selected_time'>
                  <option id='am_off' value='am_off' >AM Off</option>
                  <option id='am_peak' value='am_peak' >AM Peak</option>
                  <option id='mid_day' value='mid_day'>Mid Day</option>
                  <option id='pm_peak' value='pm_peak'>PM Peak</option>
                  <option id='pm_off' value='pm_off'>PM Off</option>
                </select>
              </form>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="content-wrapper">
                </div>
            </div>
    </div>

        {% include footer.html %}


<!--             <div style="float:right;" class="col-md-3" id="update_date">
                <h5>Last Updated 25 May 2016 8:45AM</h5>
            </div> -->
            

 
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{site.baseurl}}/components/js/js-cookie.js"></script>
    {% if page.custom_js %}
    
      {% for js_file in page.custom_js %}
    
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
    
      {% endfor %}
    
    {% endif %}

  </body>
</html>




 
