<!DOCTYPE html>
  <html lang="en-us">
  
    {% include head.html %}
  
    <body>
      
        {% include coa-header.html %}
        
        {% include dash-top-nav.html %}
      
      <div class="container-fluid">
        <div class="row panel-title-row pt-2 pl-2" id="title-row-1">
          <h3> Assets Installed </h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-1">
        <!-- cards go here programmatically -->
        </div>
        <div class="row panel-title-row pt-2 pl-2" id="title-row-2">
          <h3> Year-to-Date Activities</h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-2">
        <!-- cards go here programmatically -->
        </div>
        <div class="row panel-title-row pt-2 pl-2" id="title-row-3">
          <h3> Signal Operations </h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-3">
        <!-- cards go here programmatically -->
        </div>
        <div class="row panel-title-row pt-2 pl-2" id="title-row-4">
          <h3> Dockless Mobility Summary Counts </h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-4">
        <!-- cards go here programmatically -->
        </div>
      </div> <!-- end container -->


    {% include footer.html %}

    {% include default-scripts.html %}
    
    {% if page.custom_js %}
      
      {% for js_file in page.custom_js %}
      
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
      
      {% endfor %}
      
    {% endif %}
      
  </body>
</html>