<!DOCTYPE html>
  <html lang="en-us">

    {% include head.html %}

    <body>

        {% include coa-header.html %}

        {% include dash-top-nav.html %}

      <div class="container-fluid">
        <div class="row panel-title-row pt-2 pl-2" id="title-row-4">
        <h3> Dockless Mobility Summary Counts </h3>
      </div>
          <h4> All Modes </h4>

        <div class="row dash-panel-row no-gutters" id="panel-row-dockless">
        <!-- cards go here programmatically -->
        </div>
        <div class="row pt-2 pl-2" id="title-row-5">
          <h4> Dockless Scooters </h4>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-scooter">
        <!-- cards go here programmatically -->
        </div>
        <div class="row pt-2 pl-2" id="title-row-6">
          <h4> Dockless Bikes </h4>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-dockless-bike">
        <!-- cards go here programmatically -->
        </div>
        <div class="row panel-title-row pt-2 pl-2" id="title-row-1">
          <h3> Assets Installed </h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-1">
        <!-- cards go here programmatically -->
        </div>
        <div class="row panel-title-row pt-2 pl-2" id="title-row-2">
          <h3> Year-to-Date Activities</h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-2">
        <!-- cards go here programmatically -->
        </div>
        <div class="row panel-title-row pt-2 pl-2" id="title-row-3">
          <h3> Signal Operations </h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-3">
        <!-- cards go here programmatically -->
        </div>
      </div> <!-- end container -->


    {% include footer.html %}

    {% include default-scripts.html %}

    {% if page.custom_js %}

      {% for js_file in page.custom_js %}

        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>

      {% endfor %}

    {% endif %}

  </body>
</html>
