<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>ATD Device Status Re-Direct</title>
  </head>
  <body>
    <h1> ATD Device Status Re-Direct</h1>
    <script>
    
    
    function getJsonFromUrl() {
      //  http://stackoverflow.com/questions/8486099/how-do-i-parse-a-url-query-parameters-in-javascript
      var query = location.search.substr(1);

      var result = {};
      
      query.split("&").forEach(function(part) {
        var item = part.split("=");
        result[item[0]] = decodeURIComponent(item[1]);
      });
      return result;
    }

    </script>
  </body>
</html>
