<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

  	{% include top-nav.html %}
        
        <div class="container-fluid">
        
            <!-- map -->
            <div class="row">
                <div class="col-md-12 map" id=map>
                </div>
            </div>
        
            <!-- Data Viz -->
            <div class="row">
                <div class="col-md-3 chart pie" id=chart-1>
                  <h3> Comm Status <small><small><i  class="fa fa-info-circle"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i></small></small></h3>
                </div>
                <div class="col-md-3 info" id=info-1>
                  <h3> Unscheduled Flash </h3>
                </div>
                <div class="col-md-3 info" id=info-2>
                  <h3> Scheduled Flash </h3>
                </div>
                <div class="col-md-3 info" id=info-3>
                  <h3> Comm Fail </h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12 info" id=info-4>
                  <h3> Signal Outages By Month </h3>
                </div>            
            </div>
            <div style="float:right;" class="col-md-3" id="update_date">
                <h5>Last Updated 25 May 2016 8:45AM</h5>
            </div>
            
        </div>
        


	  <!-- Table  -->
          <div class="table-responsive">
            <table class="table table-striped table-hover" data-sort-name="address" data-sort-order="desc" id="data_table">
              <thead>
                <tr>
                    <th>Asset #</th>
                    <th>Intersection Name</th>
                    <th>Current Status</th>
                    <th>Previous Status</th>
                    <th>Status Date-Time</th>
                    <th>Operation State</th>
                    <th>Plan ID</th>
                </tr>
              </thead>
              <tbody>
			  <!-- data goes here programmatically  -->
              </tbody>
            </table>
          </div>

		<div class=tooltip></div>
 
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/scripts/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/scripts/bootstrap.js"></script>
    <script src="{{site.baseurl}}/components/scripts/jquery.dataTables.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/scripts/ie10-viewport-bug-workaround.js"></script>
    <script src="{{site.baseurl}}/components/scripts/d3.min.js"></script>
    <script src="{{site.baseurl}}/components/scripts/leaflet.js"></script>
    <script src="{{site.baseurl}}/components/scripts/intersection-status-dash.js"></script>
    
  </body>
</html>
