<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    
    {% include coa-header.html %}

    {% include dash-top-nav.html %}

    <div class='wrapper'>
      <div class="container-fluid">

        <div class="row">
        
          <div class="col-sm-10 about">
            <h3>About the Austin Transportation Open Data Inventory</h3>
            <p>
              Austin Transportation Department's Open Data Inventory tracks the publication status of all transportation data assets of which the Transportation Department is a steward. Datasets listed with a publication status of "Production" are available for download on the <a href='http://data.austintexas.gov' target='_blank'>City of Austin's Open Data Portal</a>. Contact <a href="mailto:transportation.data@austintexas.gov"> transportation.data@austintexas.gov</a> for additional information about the data inventory.
            </p>
          </div>
          <div class="col-sm-2" ></div>
        </div>

        <div class="row">
          
          <div class="col-sm-10">
            <iframe class="airtable-embed" src="https://airtable.com/embed/shrwrg0MIrbWkzmuI?backgroundColor=transparent" frameborder="0" onmousewheel="" width="100%" height="750" style="background: transparent;"></iframe>
          </div>

          <div class="col-sm-2" ></div>

        </div>

      </div> 
    </div>
      
    {% include footer.html %}
 
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{site.baseurl}}/components/js/js-cookie.js"></script>

    {% if page.custom_js %}
    
      {% for js_file in page.custom_js %}
    
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
    
      {% endfor %}
    
    {% endif %}

  </body>
</html>
