<!DOCTYPE html>
  <html lang="en-us">
  
    {% include head.html %}
  
    <body>
      
      {% include coa-header.html %}
      
      {% include data-tracker-nav.html %}
      <div class="container-fluid px-4">
        <div id="knack-dist_2">Loading...</div>
      </div>

      <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
      <script src="{{site.baseurl}}/components/js/tether.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      <script type="text/javascript">app_id="5815f29f7f7252cc2ca91c4f";distribution_key="dist_2";</script><script type="text/javascript" src="https://loader.knack.com/5815f29f7f7252cc2ca91c4f/dist_2/knack.js"></script>

      {% include footer.html %}

      {% if page.custom_js %}
        
        {% for js_file in page.custom_js %}
        
          <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
        
        {% endfor %}
        
      {% endif %}

      <script>
        //  close menu when nav clicked (because navving in data tracker doesn't actually refresh the page)
        $('.nav-link').on('click', function() { 
            $('#collapseMenu').collapse('hide')
        });

      </script>
      <script src='/components/js/google-analytics.js' type="text/javascript"></script>
      
  </body>
</html>
