<!DOCTYPE html>
  <html lang="en-us">

    {% include head.html %}

    <body>

        {% include coa-header.html %}

        {% include dash-top-nav.html %}

      <div class="container-fluid">
        <h2> Dockless Mobility Summary Counts </h3>
          <div class="form-group">
            <label for="js-month-select">Month</label>
            <select class="form-control" id="js-month-select">
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
        <div class="row panel-title-row pt-2 pl-2" id="title-row-4">
          <h3> All Modes </h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-dockless">
        <!-- cards go here programmatically -->
        </div>
        <div class="row pt-2 pl-2 panel-title-row" id="title-row-5">
          <h3> Dockless Scooters </h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-scooter">
        <!-- cards go here programmatically -->
        </div>
        <div class="row pt-2 pl-2 panel-title-row" id="title-row-6">
          <h3> Dockless Bikes </h3>
        </div>
        <div class="row dash-panel-row no-gutters" id="panel-row-dockless-bike">
        <!-- cards go here programmatically -->
        </div>
      </div> <!-- end container -->

      <div id="root"></div>


    {% include footer.html %}

    {% include default-scripts.html %}

    {% if page.custom_js %}

      {% for js_file in page.custom_js %}

        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>

      {% endfor %}

    {% endif %}

    <script type="text/javascript" src="{{ site.baseurl }}/components/js/main.bundle.js" charset="utf-8"></script>

  </body>
</html>
