<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
  
    {% include coa-header.html %}

    <div class="homepage-header container-fluid mb-4">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg p-4" >
          <h1 class="display-4">{{page.title}}</h1>
          <p class="lead">City of Austin Transportation Department</p>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row">  <!-- signal operations row -->
        <div class="col-md-3 text-lg-right pt-md-4">  <!-- row 1 titel col -->
          <h4>Signal Operations</h4>
        </div>

        <div class="col-lg-7">  <!-- buttons column -->
          <div class="row">
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/signals-on-flash/'>
              <div class="col homepage-button homepage-button-row-1 p-2">
                <h5>Traffic Signal Monitor</h5>
                <i  class="fa button-icon fa-warning"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/signal-projects'>
              <div class="col homepage-button homepage-button-row-1 p-2">
                <h5>Signal Projects</h5>
                <i  class="fa button-icon fa-wrench"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/signal-timing'>
              <div class="col homepage-button homepage-button-row-1 p-2">
                <h5>Signal Timing</h5>
                <i  class="fa button-icon fa-clock-o"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/signal-requests'>
              <div class="col homepage-button homepage-button-row-1 p-2">
                <h5>Signal Requests</h5>
                <i  class="fa button-icon fa-inbox"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/device-status'>
              <div class="col homepage-button homepage-button-row-1 p-2">
                <h5>Device Status</h5>
                <i  class="fa button-icon fa-heartbeat"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/ops-overview'>
              <div class="col homepage-button homepage-button-row-1 p-2">
                <h5>Operations Overview</h5>
                <i  class="fa button-icon fa-dashboard"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/radar'>
              <div class="col homepage-button homepage-button-row-1 p-2">
                <h5>Traffic Volumes (Beta)</h5>
                <i  class="fa button-icon fa-bar-chart"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/ops-map'>
              <div class="col homepage-button homepage-button-row-1 p-2">
                <h5>Operations Map (Beta)</h5>
                <i  class="fa button-icon fa-car"></i>
              </div>
            </a>
          </div>  <!-- end buttons row -->
        </div>  <!-- end buttons collumn -->
      </div>  <!-- end top row -->


      <div class="row">  <!-- maps and resources-->
        <div class="col-md-3 text-lg-right pt-md-4">  <!-- row 2 titel col -->
          <h4>Maps and Resources</h4>
        </div>

        <div class="col-lg-7">  <!-- buttons column -->
          <div class="row"> 
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='http://austin.maps.arcgis.com/apps/webappviewer/index.html?id=c9bda776b1934e439285570b29d3259c'>
              <div class="col homepage-button homepage-button-row-2 p-2">
                <h5>Signal Asset Map</h5>
                <i  class="fa button-icon fa-map"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='http://austin.maps.arcgis.com/apps/webappviewer/index.html?id=ac06705397e44f42bbb401481c010e94'>
              <div class="col homepage-button homepage-button-row-2 p-2">
                <h5>Preventative Maintenance</h5>
                <i  class="fa button-icon fa-truck"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/data-tracker'>
              <div class="col homepage-button homepage-button-row-2 p-2">
                <h5>Data Tracker</h5>
                <i  class="fa button-icon fa-edit"></i>
              </div>
            </a>
          </div>  <!-- end buttons row -->
        </div>  <!-- end buttons collumn -->
      </div>  <!-- end maps and resources row -->


      <div class="row">  <!-- Open Data Row -->
        <div class="col-md-3 text-lg-right pt-md-4">  <!-- row 3 titel col -->
          <h4>Open Data</h4>
        </div>

        <div class="col-lg-7">  <!-- buttons column -->
          <div class="row">
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='{{ site.baseurl }}/open-data'>
              <div class="col homepage-button homepage-button-row-3 p-2">
                <h5>Open Data Inventory</h5>
                <i  class="fa button-icon fa-database"></i>
              </div>
            </a>
            <a class="nav-homepage col-md-4 col-xl-3 col-sm-6 p-1" href='http://github.com/cityofaustin/'>
              <div class="col homepage-button homepage-button-row-3 p-2">
                <h5>City of Austin GitHub</h5>
                <i  class="fa button-icon fa-github"></i>
              </div>
            </a>
          </div>  <!-- end buttons row -->
        </div>  <!-- end buttons collumn -->
      </div>  <!-- end open data  row -->

  </div>  <!-- end body container -->

  {% include footer.html %}


  <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
  <script src="{{site.baseurl}}/components/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>    
  <script src="{{site.baseurl}}/components/js/google-analytics.js"></script>
    {% if page.custom_js %}
      
      {% for js_file in page.custom_js %}
      
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
      
      {% endfor %}
      
    {% endif %}
      
  </body>
</html>


