<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <div class="jumbotron">
      <div class="container">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
          <h2> {{page.title}} </h2>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>

    <div class="container">
    <row>
      <div class="col-sm-12"></div>
    </row>
      <row>
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
          <h3>Business Intelligence</h3>
          </div>
          <div class="col-sm-8">
            <a href='{{site.baseurl}}/signals-on-flash/'>
              <div class="col-sm-5 homepage-button homepage-button-row-1">
                <h4>Signals on Flash</h4>
                <i  class="fa button-icon fa-warning"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
              </div>
            </a>
              <a href='{{site.baseurl}}/signal-retiming/'>
                <div class="col-sm-5 homepage-button homepage-button-row-1">
                  <h4>Signal Re-Timing</h4>
                  <i  class="fa button-icon fa-clock-o"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
                </div>
              </a>
               <a href=''>
                <div class="col-sm-5 homepage-button homepage-button-row-1">
                  <h4>Traffic Signal Requests</h4>
                  <i  class="fa button-icon fa-inbox"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
                </div>
              </a>
              <a href='{{site.baseurl}}/experiments/'>
                <div class="col-sm-5 homepage-button homepage-button-row-1">
                  <h4>Experiments</h4>
                  <i  class="fa button-icon fa-flask"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
                </div>
              </a>
          </div>
          <div class="col-sm-1"></div>
    </row>
    
    <row>
      <div class="col-sm-12"></div>
    </row>
    
    <row>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <h3>Maps + Resources</h3>
        </div>
        <div class="col-sm-8">
          <a href='https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=b4d546f2b83244a79a092b1844064714' target='_blank'>
            <div class="col-sm-5 homepage-button homepage-button-row-2">
              <h4>Traffic Signals</h4>
              <i  class="fa button-icon fa-map"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
            </div>
          </a> 
          <a href='{{site.baseurl}}/markings-calculator/'>
            <div class="col-sm-5 homepage-button homepage-button-row-2">
              <h4>Markings Calculator</h4>
              <i  class="fa button-icon fa-calculator"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
            </div>
          </a>
      </div>
      <div class="col-sm-2"></div>
    </row>

    <row>
      <div class="col-sm-12"></div>
    </row>
  
    <row>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <h3>Open Data</h3>
        </div>
        <div class="col-sm-8">
          <a href='https://data.austintexas.gov/browse?tags=transportation' target="_blank">
          <div class="col-sm-5 homepage-button homepage-button-row-3">
            <h4>Data.AustinTexas.Gov<AustinTexas class="Gov"></AustinTexas></h4>
            <i  class="fa button-icon fa-database"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
          </div>
        </a>
        <a href='http://github.com/cityofaustin/transportation' target="_blank">
          <div class="col-sm-5 homepage-button homepage-button-row-3">
            <h4>City of Austin GitHub<AustinTexas ></AustinTexas></h4>
            <i  class="fa button-icon fa-github"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i>
          </div>
        </a>
      </div>
      <div class="col-sm-2"></div>
      </row>


  </div>

  {% include footer.html %}




<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
