<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

  	{% include dash-top-nav.html %}
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                <h2> Gallons Required </h2>
                  <iframe src="https://jscalc.io/embed/jVLwuA1lc84oxujt?autofocus=1" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0" style="border: 1px solid rgba(0,0,0,0.12)"></iframe>
                </div>
                <div class="col-md-6">
                  <h2> Markings Mil Thickness </h2>
                  <iframe src="https://jscalc.io/embed/cqGAbV9tBoTS8Rrm?autofocus=1" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0" style="border: 1px solid rgba(0,0,0,0.12)"></iframe>
                </div>
            </div>
        </div>

        {% include footer.html %}


<!--             <div style="float:right;" class="col-md-3" id="update_date">
                <h5>Last Updated 25 May 2016 8:45AM</h5>
            </div> -->
            

 
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{site.baseurl}}/components/js/js-cookie.js"></script>
  </body>
</html>




 
