<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

  	{% include dash-top-nav.html %}
        
            <!-- map -->
                <div class="map" id=map>

            

      </div>
	  <!-- Table  -->


        <div class=tooltip></div>

        </div>


        
          {% include footer.html %}

 
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/components/js/jquery.dataTables.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{site.baseurl}}/components/js/d3.min.js"></script>
    <script src="{{site.baseurl}}/components/js/leaflet.js"></script>
    <script src="{{site.baseurl}}/components/js/leaflet.extra-markers.min.js"></script>
    <script src="{{site.baseurl}}/components/js/leaflet-sidebar.js"></script>
    <script src="{{site.baseurl}}/components/js/intersection-status-dash.js"></script>
    
  </body>
</html>
