<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

  	{% include dash-top-nav.html %}
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 info div-filter" id=info-2 data-status=2>
                  <h4> Conflict Flash <i  class="fa fa-info-circle"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i></h4>
                </div>
                <div class="col-md-3 info div-filter" id=info-1 data-status=1>
                  <h4> Coordinated Flash <i  class="fa fa-info-circle"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i></h4>
                </div>
                <div class="col-md-3 info div-filter" id=info-3 data-status=3>
                  <h4> Comm Fail <i  class="fa fa-info-circle"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i></h4>
                </div>
                <div class="col-md-3 chart pie" id=chart-1>
                  <h4> Comm Status <i  class="fa fa-info-circle"data-toggle="tooltip" data-placement="right" title="This is some tooltip text. "></i></h4>
                </div>
            </div>
            <!-- map -->
            <div class="row">
                <a class="anchor" id="top" name="map"></a>
                <div class="col-md-12 map" id=map></div>
            </div>
<!--             <div style="float:right;" class="col-md-3" id="update_date">
                <h5>Last Updated 25 May 2016 8:45AM</h5>
            </div> -->
      </div>
	  <!-- Table  -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12" id="map-expander">
             <button type="button" class="btn btn-primary">Expand / Collapse Map</button> 
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <a name="datatable"></a>
            <table class="table table-striped table-hover" data-sort-name="address" data-sort-order="desc" id="data_table">
              <thead>
                <tr>
                    <th>Asset #</th>
                    <th>Intersection Name</th>
                    <th>Current Status</th>
                    <th>Previous Status</th>
                    <th>Status Date-Time</th>
                    <th>Poll Status</th>
                    <th>
                    eration State</th>
                    <th>Plan ID</th>
                </tr>
              </thead>
              <tbody>
			  <!-- data goes here programmatically  -->
              </tbody>
            </table>
      
          </div>
        </div>
           <div class=tooltip></div>

        </div>
        
          {% include footer.html %}

 
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/components/js/jquery.dataTables.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{site.baseurl}}/components/js/d3.min.js"></script>
    <script src="{{site.baseurl}}/components/js/leaflet.js"></script>
    <script src="{{site.baseurl}}/components/js/leaflet.extra-markers.min.js"></script>
    <script src="{{site.baseurl}}/components/js/intersection-status-dash.js"></script>
    
  </body>
</html>
