<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    
    {% include coa-header.html %}
    
    {% include dash-top-nav.html %}

    <div class='wrapper'>
      <div class="container-fluid">
           
        <div class="row">
          <div class="col-md-12">
            <p class = "quote-of-the-week"> <span style='font-style: italic;' id='quote'></span> - <span style='font-style: normal;' id='attribution'></span><p>
          </div>
        </div>
          
        <div class="row" id="panel-row">
        </div>

        <div class="row">
          <div class="col-md-12 disclaimer">
            <p>
              This dashboard is for informational purposes and may not have been prepared for or be suitable for legal, engineering, or surveying purposes. It does not represent an on-the-ground survey and represents only the approximate relative location of traffic signals.
            </p>
          </div>
        </div>     
      </div> 

      <div class="push"></div>

        {% include footer.html %}

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/components/js/jquery.dataTables.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{site.baseurl}}/components/js/js-cookie.js"></script>
    
    {% if page.custom_js %}
    
      {% for js_file in page.custom_js %}
    
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
    
      {% endfor %}
    
    {% endif %}

  </body>
</html>

