<!DOCTYPE html>
  <html lang="en-us">
  
    {% include head.html %}
  
    <body>
      
        {% include coa-header.html %}
        
        {% include dash-top-nav.html %}
      
      <div class="container">
        <br>
        <div class=row>
          <div class="col-md-12">
            <form>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="sensors">Count Station</label>
                  <select class="form-control form-control-sm" id="sensors"></select>
                </div>
                <div class="form-group col-md-2">
                  <label for="direction">Direction</label>
                  <select class="form-control form-control-sm" id="direction"></select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-5" id="plot_1">
                  <h5> Plot 1 (Dashed Line) <a id='plot_1_download' href=''></a></h5>
                  <small id="dateHelp" class="form-text text-muted">Leave date empty for current date/time.</small>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="plot_1_start">Start</label>
                      <input class="form control form-control-sm" type="date" name="plot-1-start" id="plot_1_start">
                    </div>
                    <div class="form-group col">
                      <label for="plot_1_end">End</label>
                      <input class="form control form-control-sm" type="date" name="plot-1-end" id="plot_1_end">
                    </div>
                  </div> 
                  <div class="form-row">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="plot_1_weekdays" value="option1" checked> Weekdays
                      </label>
                    </div> 
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="plot_1_weekends" value="option1" checked> Weekends
                      </label>
                    </div> 
                  </div>
                </div> <!-- end plot 1 column -->

                <div class="form-group col-md-5" id="plot_2">
                  <h5> Plot 2 (Solid Line) <a id='plot_2_download' href=''></a></h5>
                  <small id="dateHelp" class="form-text text-muted">Leave end date empty for current date/time.</small>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="plot_2_start">Start</label>
                      <input class="form control form-control-sm" type="date" name="plot-2-start" id="plot_2_start">
                    </div>
                    <div class="form-group col">
                      <label for="plot_2_end">End</label>
                      <input class="form control form-control-sm" type="date" name="plot-2-end" id="plot_2_end">
                    </div>
                  </div> 
                  <div class="form-row">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="plot_2_weekdays" value="weekdays" checked> Weekdays
                      </label>
                    </div> 
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="plot_2_weekends" value="weekends" checked> Weekends
                      </label>
                    </div> 
                  </div>
                </div> <!-- end plot 2 column -->

              </div>  <!-- end plot row -->
              <div class="form-row">
                <button style="cursor: pointer;" type="button" value="Update" class="btn btn-primary" id="submit">
                  Update
                </button>
              </div>
            </form>
        </div><!--   end entire form col -->
      </div><!--  end entire form row -->

      <div class="row">
        <div class="col-md-12">
          <br>
          <h4> Average Volume by Time of Day</a></h4>
          <div>
            <svg id="chart_1" width="960" height="300"></svg>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br>
          <h4> Total Volume by Day </a></h4>
          <div>
            <svg id="chart_2" width="960" height="300"></svg>
          </div>
        </div>
      </div>
    </div> <!-- end container -->

    {% include footer.html %}

    {% include default-scripts.html %}
    
    {% if page.custom_js %}
      
      {% for js_file in page.custom_js %}
      
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
      
      {% endfor %}
      
    {% endif %}
      
  </body>
</html>