<!DOCTYPE html>
  <html lang="en-us">
  
  {% include head.html %}

  <body>

    {% include modal.html %}

    {% include coa-header.html %}
    
    {% include dash-top-nav.html %}
  
    <div class="container-fluid" id="dash-container">

      {% include quote-of-the-week-row.html %}

       <div class="row" id="info-row-1">

        <div class="col-sm-3 info-metric dash-panel-borderless text-left" id="info-1">

          <h5 class="dash-panel-header"> <i class="fa fa-exclamation-triangle"></i> Unscheduled Flash </h4>
        </div>
        
        <div class="col-sm-3 info-metric dash-panel-borderless text-left" id="info-2">
          <h5 class="dash-panel-header"> <i class="fa fa-clock-o"></i> Scheduled Flash </h4>
        </div>     

        <div class="col-sm-3 info-metric dash-panel-borderless text-left" id="info-3">
          <h5 class="dash-panel-header"><i class="fa fa-phone"></i>  Communication Outage </h4>
        </div>     

      </div>

      <div class="row" id="update-row">
        <div class="col justify-content-center text-center" id="update-date">
        </div>
      </div>

      <div class="row data-row" id="data-row-1">
      
        {% include table-col-default.html %}

        {% include map-col-default.html %}

      </div>  <!-- end data row -->

      <div class="row info-info-bottom" id="info-row-2">
        
        <div class="col-md-12 py-4">
          <h2>About Signals on Flash</h2>
        </div>

        <div class="col-md-4 about">
          <h4>What am I Looking at?</h3>
          
          <p>This dashboard reports flashing traffic signals in Austin, TX. Traffic signals enter flash mode when something is preventing the signal from operating normally. This is typically the result of a power surge, power outage, or damage to signal equipment. A signal may also be intentionally placed into flash mode for maintenance purposes or be scheduled to flash overnight.</p>

        </div>

        <div class="col-md-4 about">
          <h4>Advanced Transportation Management</h3>

          <p> Approximately 90% of the City’s signals communicate with our Advanced Transportation Management System. When these signals go on flash, they will be reported on this dashboard. It also occasionally happens that the event that disables a traffic signal also disables network communication to the signal, in which case the signal outage will not be reported here. </p>

        </div>

        <div class="col-md-4 about">
        <h4> Report an Issue </h3>
          <p> To report an issue or request a new traffic signal, call 3-1-1. You can also <a href="https://austin-csrprodcwi.motorolasolutions.com/ServiceRequest.mvc/SRIntakeStep2/TRASIGNE?guid=59340171d27247fa93fe951cdaf37dcc">submit a traffic signal service request online.</a> </p>
      
        </div>

      </div>  <!-- end about row bottom -->

    </div> <!-- end container -->

    {% include footer.html %}

    {% include default-scripts.html %}
    
    {% if page.custom_js %}
      
      {% for js_file in page.custom_js %}
      
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
      
      {% endfor %}
      
    {% endif %}
      
  </body>
</html>


