<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    
  	{% include dash-top-nav.html %}
    

    <div id="wrapper">
      <div class="map" id=map></div>
      <div id="over_map">
          <h3> There are no signals on flash as of Sep 1, 2016 at 9:00AM. </h4>
      </div>
    </div>

 
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/components/js/jquery.dataTables.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>

    {% if page.custom_js %}
    
      {% for js_file in page.custom_js %}
    
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
    
      {% endfor %}
    
    {% endif %}
    
  </body>
</html>
