<!DOCTYPE html>
  <html lang="en-us">
  
  {% include head.html %}

  <body>

    {% include modal.html %}

    {% include coa-header.html %}
    
    {% include dash-top-nav.html %}
  
    <div class="container-fluid" id="dash-container">

      <!-- TODO: REMOVE TEMP BANNER -->
      <div class="alert alert-warning" role="alert">
        <h3>Maintenance in progress</h3>
      </div>


      <div class="row info-info-top" id="info-row-1">
        <div class="col-md-12">
          <h2>Find a Signal Request</h2>
        </div>
      </div>

      <div class="row data-row" id="data-row-1">
      
        {% include table-col-default.html %}

        {% include map-col-default.html %}

      </div>  <!-- end data row -->

      <div class="row info-info-bottom" id="info-row-2">
        
        <div class="col-md-12 py-4">
          <h2>About the Signal Request Program</h2>
        </div>

        <div class="col-sm-4 about">
          <h3>What am I Looking at?</h3>
          
          <p>This webpage reports the status of traffic and pedestrian signal requests. Every year we typically receive more than one hundred requests for traffic and pedestrian signals, each of which is evaluated and ranked for possible installation.</p>

          <p>This page shows the status of new and existing signal requests, as well as those locations that are currently being studied or have been studied but not yet constructed.</p>

          <p> <a href='http://www.austintexas.gov/department/arterial-management' target="_blank" > Click here </a> for more details about the signal request process. </p>

        </div>

        <div class="col-sm-4 about">
          <h3>Evaluation and Study</h3>

          <p> Eligible request are assigned preliminary scores based on crash history, travel demand, and community context. The highest scoring requests are selected for study by a professional engineer, who makes a formal recommendation for signalization.</p>

          <p>Additional information: </p>

          <ul>
            <li> <a href='https://data.austintexas.gov/dataset/Current-Traffic-Signal-Request-Ranking/xynk-x2fi' target="_blank" > Annual Traffic Signal Request Ranking </a> </li>
            <li> <a href='https://data.austintexas.gov/dataset/Current-Pedestrian-Signal-PHB-Ranking/j4c6-uq4z/data' target="_blank" > Annual Pedestrian Signal Request Ranking </a> </li>
            <li> <a href='https://data.austintexas.gov/dataset/Traffic-and-Pedestrian-Signal-Requests/f6qu-b7zb' target="_blank"> Complete Multi-Year Request Ranking Data </a> </li>
          <ul>
        </div>

        <div class="col-sm-4 about">
            <h3>Contact Us</h3>
          <p> To request a new traffic signal or follow-up on an existing request, call 3-1-1. You can also <a href='https://austin-csrprodcwi.motorolasolutions.com/ServiceRequest.mvc/SRIntakeStep2/TRASIGNE?guid=59340171d27247fa93fe951cdaf37dcc'>submit a traffic signal service request online.</a> </p>

          <p> If you have questions about this web page or the data that powers it, contact <a href="mailto:transportation.data@austintexas.gov"> transportation.data@austintexas.gov </a>
        </div>

      </div>  <!-- end about row bottom -->

    </div> <!-- end container -->

    {% include footer.html %}

    {% include default-scripts.html %}
    
    {% if page.custom_js %}
      
      {% for js_file in page.custom_js %}
      
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
      
      {% endfor %}
      
    {% endif %}
      
  </body>
</html>


