<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    
    {% include coa-header.html %}
    
    {% include dash-top-nav.html %}

    <div class='wrapper'>
      <div class="container-fluid">
          <div class="row">

            <div class="col-md-3 about">
              <h3>What am I looking at?</h3>
              <p>
                This dashboard reports flashing traffic signals in Austin, TX. Traffic signals enter flash mode when something is preventing the signal from operating normally. This is typically the result of a power surge, power outage, or damage to signal equipment. A signal may also be placed into flash mode for maintenance purposes or be scheduled to flash overnight.
                <a href=#about-section> More info</a>
              </p>

            </div>
            
            <div class="col-md-1"></div>
            
            <a name="info-1"><div class="col-md-3 info" id="info-1"></a>
              <h3> Traffic Signals Flashing </h3>
            </div>
            
            <div class="col-md-5"></div>

          </div>
          <!-- map -->
          <div class="row">
            <div class="col-md-12 map" id=map name="map">
              <div class="over_map" id="map-expander">
                <button type="button" class="btn btn-primary map-expander"><i  class="fa fa-expand"></i></button> 
              </div>
            </div>
            
          </div>
      </div>
      
      <!-- Table  -->
      <a name="datatable"></a>
      <table class="table table-striped table-hover" data-sort-name="address" data-sort-order="desc" id="data_table">
        <thead>
          <tr>
              <th>Location</th>
              <th>Signal ID</th>
              <th>Status</th>
              <th>Status Date</th>
              <th>Status Duration</th>
          </tr>
        </thead>
        <tbody>
        <!-- data goes here programmatically  -->
        </tbody>
      </table>
    </div>
      
      <div class="container-fluid about" id="about">
        <a name="about"></a>
        <div class="row">
          <div class="col-md-12 disclaimer">
            <p>
              This dashboard is for informational purposes and may not have been prepared for or be suitable for legal, engineering, or surveying purposes. It does not represent an on-the-ground survey and represents only the approximate relative location of traffic signals.
            </p>
          </div>
        </div>     
      </div> 

        <div class="push"></div>

          {% include footer.html %}
 
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/components/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/components/js/jquery.dataTables.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{site.baseurl}}/components/js/js-cookie.js"></script>
    
    {% if page.custom_js %}
    
      {% for js_file in page.custom_js %}
    
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
    
      {% endfor %}
    
    {% endif %}

  </body>
</html>
