<!DOCTYPE html>
  <html lang="en-us">
  
  {% include head.html %}

  <body>
  
    {% include modal.html %}

    {% include coa-header.html %}
    
    {% include dash-top-nav.html %}
    
    <div class="container-fluid" id="dash-container">
      
      <div class="row data-row" id="data-row-1">
          
        <div class="col-lg-12 no-gutters" id="select-search-table-col">  <!-- buttons, search, and table column -->
          
          {% include map-selector-row.html %}

          {% include search-row.html %}

          {% include table-row.html %}

        </div> <!-- end table/search/button column -->

      </div>  <!-- end data row -->

    </div> <!-- end container -->

    {% include footer.html %}
    
    {% include default-scripts.html %}
    
    {% if page.custom_js %}
    
      {% for js_file in page.custom_js %}
      
        <script src='{{ site.baseurl }}/components/js/{{ js_file }}.js' type="text/javascript"></script>
      
      {% endfor %}
    
    {% endif %}
    
  </body>
</html>
